@import "tailwindcss";

@theme {
  /* COLOURS BODY */

  --color-main-body: #40bcd8; /* Soft teal-blue – calm, medical feel */
  --color-primary-body: #004e89; /* Professional navy – trust and stability */
  --color-secondary-body: #e7f7fa; /* Very light cyan – clean and gentle */
  --color-tertiary-body: #cbeff4; /* Pale teal – visually distinct from secondary */
  --color-main-font: #1a1a1a; /* Slightly deeper black for better contrast */
  --color-tertiary-font: #c62828; /* Muted medical red – being too aggressive */



  /* FONTS  */
  --default-font-family: "DM Sans", sans-serif;
  --font-primary-font: "DM Sans", sans-serif;
  --font-secondary-font: "Plus Jakarta Sans", sans-serif;

  /* NAV ANIMATION */
  --animate-navBar: navBar 0.3s ease-in-out forwards;
  @keyframes navBar {
    0% {
      transform: scaleX(0);
    }
    80% {
      transform: scaleX(1.2);
    }
    100% {
      transform: scaleX(1);
    }
  }
  --animate-navIcon: navIcon 0.3s ease-in-out forwards;
  @keyframes navIcon {
    0% {
      transform: rotate(0);
    }
    80% {
      transform: rotate(570deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  /* MARQUEE ANIMATION */
  --animate-marquee: marquee 300s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/* https://colorhunt.co/palette/00579253cde2d1f4faedf9fc */

/* SWIPPER STYLES */
.swiper-button-next,
.swiper-button-prev {
  color: #005792;
}

.swiper-pagination-bullet-active {
  background-color: #005792 !important;
}

@media (max-width: 768px) {
  .swiper-slide {
    flex-direction: column-reverse !important;
    text-align: center !important;
  }
}
